.search {
  position: relative;
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 200px;
  overflow: auto;
  background-color: #fff;
  z-index: 100;
}
