.btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 160px;
  height: 80px;
  border-radius: 10px;
  font-size: 28px;
  background-color: white;
  transition: all 0.2s;
  box-shadow: inset 0px 0px 2px 2px black;
  &:hover {
    transform: scale(1.05);
    background-color: rgb(245, 239, 239);
  }
}
